{% extends "base.html" %}
{% block box %}
<div class="container">
	<div class="row">
		{% include "aboutme.html" %}

		<div class="col-sm-8">
			<div class="articles">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 style="text-align:center">
							{{article.title}}<br>
						</h3>
					</div>
					<div class="panel-body">
						<div>
							{{article.contents|safe}}
						</div>
					</div>
					<div class="panel-body">

						<h4 class="panel-title" style="text-align:center">
							<span>
								<h5 style="text-align:left;padding-left: 20px;"><i>标签:{{article.tags}}</i></h5>
								<h5 style="text-align:right;padding-right: 20px;"><i>Posted on:{{article.date}}</i></h5>
							</span>

						</h4>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>



{% endblock %}