<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>个人博客</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>

<body>
	<!--导航栏的布局-->
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">个人Blog</a>
			</div>
			<div>
				<ul class="nav  nav-pills ">
					<li class="active"><a href="{{url_for('index')}}">主页</a></li>

					<li><a href="wati.html">计划</a></li>
					<li><a href="{{url_for('get_shares')}}">分享</a></li>
					<li><a href="wati.html">闲谈</a></li>
					<li><a href="{{url_for('post_message')}}">留言板</a></li>


					<ul class="nav navbar-nav navbar-right">
						<!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>-->
						<li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span>管理员登录</a></li>
					</ul>
				</ul>
			</div>
		</div>
	</nav>
	<div class="box">
		<div class="left">

			<div class="aboutme" margin="auto" style="text-align: center;margin-top: 30px;">
				<img src="{{url_for('static',filename='images/example.JPG')}}" width="100" height="100">
				<br><br>
				<div class='contact'>
					<ul>
						<li style="font-size: 15px;list-style: none">联系我:<a href="mailto:1324901134@qq.com">1324901134@qq.com</a></li><br>
						<li style="font-size: 15px;list-style: none">博客源码:<a href=" ">访问我的github</a></li>
					</ul>
				</div>
				<br><br>
				<h3>
					文档归类
					<div class="cate">
						<br>

						<li><a href="wati.html">python</a></li><br>
						<li><a href="wati.html">c/c++</a></li><br>
						<li><a href="wati.html">工具</a></li><br>

					</div>
				</h3>

			</div>
		</div>
		{% block right %}
		
			
			{% endblock %}
	</div>
	
<style type="text/css">
		.cate {
			list-style: none;
			font-size: 20px;
			text-align: center
		}

		.box {
			margin-left: 200px;
			width: 1500px;
			height: auto;
		}

		.left {
			float: left;
			width: 20%;
			height: 100%;
		}

		
	</style>

	<br>
	<br>



</body>

</html>