{% extends "base.html" %}


{% block right %}
<div class='right' style="text-align:center">
	<form id="postform" method="post" action="{{url_for('post_ok')}}">
		<h5>标题:<input type="text" name="title" size="50" maxlength="50"></h5><br>
		<h5>分类标签(python,c/c++,工具,分享):<input type="text" name="tags" size="20" maxlength="20"></h5><br>

		<h5><textarea rows='30' cols="100" name='contents'>请在此处输入文章内容
		   </textarea>
			<input type="submit">


	</form>
	<script type="text/javascript">
		function tijiao() {
			document.getElementById("postform").submit();
		}
	</script>


</div>
{% endblock %}