{% extends "base.html" %}
{% block nav %}
<div class="collapse navbar-collapse" id="example-navbar-collapse">
	<ul class="nav  nav-pills">
		<li class="active"><a href="{{url_for('index')}}">主页</a></li>

		<li><a href="wati.html">计划</a></li>
		<li><a href="{{url_for('get_shares')}}">分享</a></li>
		<li><a href="wati.html">闲谈</a></li>
		<li><a href="{{url_for('post_message')}}">留言板</a></li>
	</ul>
</div>
{% endblock %}
{% block box %}
<div class="container">
	<div class="row">
		{% include "aboutme.html" %}


		<div class="col-sm-8">
			{% for article in articles %}
			<div class="articles">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 style="text-align:center">
							{{article.title}}<br>
						</h3>
					</div>
					<div class="panel-body"
						style=" display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">
						<div>
							{{article.contents|safe}}
						</div>
					</div>
					<div class="panel-body">

						<h4 class="panel-title" style="text-align:center">
							<hr />
							<button style="float: center"><a
									href="{{url_for('get_full_read',id=article.id)}}">阅读全文</a></button>
							<span>
								<h5 style="text-align:left;padding-left: 20px;"><i>标签:{{article.tags}}</i></h5>
								<h5 style="text-align:right;padding-right: 20px;"><i>Posted on:{{article.date}}</i></h5>
							</span>

						</h4>
					</div>
				</div>

			</div>
			{% endfor %}
		</div>



		{% endblock %}