{% extends "base.html" %}
{% block nav %}
<div class="collapse navbar-collapse" id="example-navbar-collapse">
    <ul class="nav  nav-pills">
        <li><a href="{{url_for('index')}}">主页</a></li>

        <li><a href="wati.html">计划</a></li>
        <li><a href="{{url_for('get_shares')}}">分享</a></li>
        <li><a href="wati.html">闲谈</a></li>
        <li  class="active"><a href="{{url_for('post_message')}}">留言板</a></li>
    </ul>
</div>
{% endblock %}
{% block box %}
<div class="container">

    <div class="commentboard" style="float: left;border: peru">

        <div>
            <form id="comment" method="post" action="{{url_for('comment_ok')}}">
                <div>
                    <input type="text" placeholder="输入你的昵称吧" size="15" name="name">
                </div>
                <br>
                <div><input type="text" placeholder="可以留下联系方式哦" size="15" name="contact"></div>
                <div><br>
                    <textarea placeholder="快快留下你的脚步" rows="5" name="comments"></textarea>
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
            <script type="text/javascript">
                function tijiao() {
                    document.getElementById("comment").submit();
                }
            </script>
        </div>


    </div>
    <diV>
        {% for comment in commentswell %}
        <!--留言墙-->
        <div class="well" style="float:left;padding-left: 20px">
            <div>
                <h5>
                    <strong>{{comment.name}}:</strong>
                </h5>
            </div>
            <p>
                {{comment.comments}}
            </p>
            <div style="text-align:right">
                <p>
                    <i>留言于:{{comment.date}}</i>
                </p>
            </div>


        </div>




        {% endfor %}

    </diV>







</div>
{% endblock %}