{% extends "base.html" %}



{% block right %}
<div class="center">
	<div style="width:100%;height:100px;text-align: center">
            <h2 style="text-align:center;background: lightcoral" >
                <br>
                需要什么帮助，请在请留言板留言，或联系邮箱哦。
            </h2>
		
	</div>
	<!--文章显示-->
            {% for share in shares %}

            <div style="border: 1px solid burlywood ;text-align: center">
                <h4 style="text-align:center">{{share.contents}}</h4>
                <p
                    style="width:100%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3 ;overflow:hidden;padding-left: 50px;padding-right: 50px;text-indent: 2em;line-height: 30px">
                    网址  :<a href="{{share.url}}">{{share.url}}</a><br>
                    密码  :{{share.pwd}}
                </p>
                <br> <br>


            </div>
            {% endfor %}
           <style>.center {
                float: left;
                width: 50%;
                height: 100%;
                margin-left: 30px;
                border: 1px solid burlywood;
            }</style>

</div>
{%endblock%}